<%- include ("header.ejs") -%>
<%- include ("navbar.ejs") -%>

<style>
       .xyz{
          margin-bottom: 0px;
          background-image: url("/image/homeimage.jpg");
          background-size: cover;
          background-repeat: no-repeat;
        }
</style>

<section style="margin-bottom: 0px;" class="xyz">
<!--id="section-jumbotron"-->
<!--class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center-->
    
    <div class="container text-center">
        <!-- <img src="/image/homeimage.jpg" width=100% alt="Home Image"> -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      
      
    </div>  
  </section>


  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">“Opportunities knock the door sometimes, so don’t let it go and donate blood.”
      </p>
    
   <!-- <p class="text-center">- LazyCoder</p> -->
    
  </div>
<%- include ("footer.ejs") -%>
